@charset "utf-8";
/* CSS Document */
*{margin: 0;
  padding: 0;
}
body{
	background-color: antiquewhite;
	font-family: "宋体";
    font-size: 24px;
    color: #222;
	height: 700px
}
.content{
	text-align: justify;
	text-indent: 2em;
	font-family: 宋体;
	font-size: 18px;
	color: #000;
	line-height: 200%;
}
.header{
	text-align: left;
	font-family: 宋体;
	font-size: 30px;
	color:#000;
}
.ima{
	float: right;
	border-style: dotted;
	border-color: #996600;
	border-width: 4px;
	margin: 2px;
	background-position: top right;
}
