@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "宋体";
	font-size: 18px;
	color: #000;
	align-content: center;
}
#box{
	margin:0;
	padding:0;
	background:#B7EDF4;
	width:940px;
	border: solid 2px #457;
}
#header{
	width:900px;
	overflow: auto;
	height: 200px;
	background: #0ee;
	margin:20px 20px 20px 20px;
	border: solid 2px gold;
}
#logo{
	height: 60px;
	width:300px;
	background:#0C96CA;
	text-align: center;
	font-size: 18px;
	border: thick #000;
	margin: 10px 10px 10px 10px;
	border: solid 2px #457;
}
#banner{
	height: 60px;
	width:450px;
	background: #0C96CA;
	text-align: center;
	font-size: 18px;
	margin: 10px 0px 10px 10px;
	border: solid 2px #457;
}
#menu{
	magin:0;
	height:60px;
	background: #0cf;
	text-align: left;
	font-size: 18px;
	margin: 10px 10px 10px 10px;
	border: solid 2px #000;
}
#main{
	width:900px;
	overflow: auto;
	background:#0ff;
	margin:20px 20px 20px 20px;
	border: solid 2px #000;
}
#content{
	background: #60ACEE;
	height:200px;
	width:500px;
	margin:20px 0px 20px 20px;
	border: solid 2px #fff;
}
#sidebar{
	height:200px;
	width:300px;
	background: #60ACEE;
	margin:20px 20px 20px 20px;
	border: solid 2px #fff;
}
#footer{
	width:900px;
	clear: both;
	height: 50px;
	background: #5af;
	margin:20px 20px 20px 20px;
	border: solid 2px gold;
}